/*
 * Chargement des fontes
 * Voir : http://cours-web.ch/css/typographie
*/


@font-face {
    font-family: 'selectricroman';
    src: url('../fonts/selectricroman.woff2') format('woff2'),
         url('../fonts/selectricroman.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'selectricmono';
    src: url('../fonts/selectricmono.woff2') format('woff2'),
         url('../fonts/selectricmono.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
	font-family: selectricroman, serif;
	background-image: linear-gradient(#FFEBCD, #E6E6FA);
}


h1 {
	font-family: selectricmono, monospace;
	margin-top: 2%;
	margin-left: 35%;
	margin-bottom: 4%;
	border-bottom-style: solid;
	width: 252px;
}

div.text {
		width: 30%;
		font-size: larger;
		margin: auto;
		text-align: justify;
		margin-bottom: 150px;
		text-indent:90px;
		line-height:20px;
}
div.image {
	margin-left: 200px;
	float: left;
	margin-top: 90px;
	border-style: double;
	border-width: 5px;
	padding: 10px;
}

/*
 * Définition du modèle de boîte
 * Voir : http://cours-web.ch/css/box-model
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
